<header>
  <link rel="stylesheet" href="/css/dashboard-styling.css" />
  <div class="navbar">
    <div class="navbar-header">
      <img src="/assets/trustly-logo.png" />
    </div>
    <ul class="navbar-menu">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#transactions">Transactions</a></li>
      <li><a href="#accounts">Accounts</a></li>
      <li><a href="#cards">Cards</a></li>
      <li><a href="/profile" target="_blank">Profile</a></li>
    </ul>
    <div class="welcome-message">
      <h3>Welcome, <%= loggedUser.name %></h3>
    </div>
    <a href="/logout" id ="showcase-button" style="margin: 20px;">Logout</a>
  </div>
</header>
