<header>
    <link rel="stylesheet" href="/css/sidebar.css">
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                
            </div>
            <ul>
                <li><h3>Welcome, NAME</h3></li>
                <li><a href="#dashboard">Dashboard</a></li>
                <li><a href="#transactions">Transactions</a></li>
                <li><a href="#accounts">Accounts</a></li>
                <li><a href="#investments">Investments</a></li>
                <li><a href="#credit-cards">Credit Cards</a></li>
                <li><a href="#loans">Loans</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#privileges">My Privileges</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
        </div>
    </div>
</header>

