<footer class="footer">
  <div class="footer">
    <div class="footer-item">
      <div class="footer-content">
        <p>Partner : </p>
        <img src="/assets/company-partner-1.png" style="width: 100px; height: 100px;">
        <img src="/assets/company-partner-2.png" style="width: 100px; height: 100px;">
        <img src="/assets/company-partner-3.png" style="width: 100px; height: 100px;">
        <img src="/assets/company-partner-4.png" style="width: 100px; height: 100px;">
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-content">
        <p>When Trust Meets Finance</p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-content">
        <div>
          <img src="/assets/footer-logo-phone.png" style="width: 50px; height: 50px; filter: invert(1);">
          <p>HelloTrustly</p>
        </div>
        <p>123-500-1</p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-content">
        <img src="/assets/trustly-logo.png">
      </div>
    </div>
  </div>
</footer>
<p>Disclaimer : Please note that this website serves as a portfolio and does not represent an actual banking institution. Any references to banking services or products are for demonstration purposes only.</p>

