<header>
  <nav class="menu-container">
    <input type="checkbox" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>

    <a href="#" class="menu-logo">
      <img src="/assets/trustly-logo.png" alt="trustly">
    </a>

    <div class="menu">
      <ul>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Partners</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Promo</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/signup">Sign-up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
