<link rel="stylesheet" href="/css/dashboard-styling.css" />
<div>
  <div class="page-wrapper">
    <div class="container">
      <div class="funds-showcase">
        <h1>Available Balance</h1>
        <p>Account Number : 12343342313</p>
        <h2>Rp 900.000</h2>
        <div class="transfer-button">
          <a href="/transfer" id="showcase-button">Transfer Funds</a>
        </div>
      </div>

      <div class="cards-showcase">
        <h1>Your Card</h1>
        <p>Visa</p>
        <img src="/assets/card.png">
        <p>Valid until 03/24</p>
        <a href="/withdraw" id="showcase-button">Withdraw Funds</a>
      </div>

      <div class="funds-showcase">
        <h1>Withdraw Funds</h1>
        <p>Account Number : 12343342313</p>
        <h2>Rp 900.000</h2>
        <div class="transfer-button">
          <a href="/withdraw" id="showcase-button">Withdraw Funds</a>
        </div>
      </div>
    </div>
  </div>
</div>
