<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
  "
>
  <img
    src="/assets/trustly-logo.png"
    style="border-right: 2px solid white; margin: 30px"
  />
  <form action="/api/forgotpassword/byemail/otpconfirm/true?" method="POST">
    <h2>We have sent an OTP code to <%= requestedEmail %></h2>
    <input name="otp" style="width: 300px; height: 40px; border-radius: 20px;" type="text" required /></a>
   <% if (forgotPasswordMessage2 && forgotPasswordMessage2.length > 0) { %>
    <div style="color: red">
      <ul>
        <% forgotPasswordMessage2.forEach(function(msg) { %>
        <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
    <br>
    <button type = "submit" style="width: 100px; height: 40px; border-radius: 20px; color: black; background-color: whitesmoke; border: none;margin-top: 10px;">
      Submit
    </button>
  </form>
</div>
