<div>
  <div class="home-showcase">
    <h1>Experience Seamless Transactions with Trustly Cards</h1>
    <img src="/assets/card.png" />
    <p>
      Join thousands who trust Trustly. Our secure website banking ensures your
      transactions are always safe and reliable.
    </p>
    <a href="/signup"><button class="home-button">Join now</button></a>
  </div>

  <div class="home-showcase">
    <h1>Your Financial Partner You Can Trust</h1>
    <img src="/assets/sh2.png" />
    <p>
      Your financial security is our top priority. With industry-leading
      encryption and fraud protection, you can use this debit card with complete
      confidence. We implement robust security measures and state-of-the-art
      fraud monitoring to ensure your information and transactions remain
      protected at all times. Our advanced encryption technology safeguards your
      data, making it virtually impossible for unauthorized parties to access
      your sensitive information. In addition to this, our dedicated fraud
      detection team works around the clock to identify and prevent suspicious
      activities before they can affect your account. We also offer
      zero-liability protection, which means you won’t be held responsible for
      unauthorized transactions made with your card. Real-time alerts keep you
      informed about your account activity, allowing you to quickly spot and
      report any discrepancies. Our secure online portal provides you with the
      tools to manage your card settings, such as setting transaction limits and
      enabling or disabling your card, giving you additional control over your
      financial security. Whether you’re shopping online, dining out, or
      traveling abroad, you can trust that we are constantly working to keep
      your financial information safe. Your peace of mind is our mission, and we
      are committed to providing you with a secure and seamless banking
      experience
    </p>
  </div>

  <div class="home-showcase">
    <h1>Manage Your Finances Anytime, Anywhere</h1>
    <img src="/assets/sh3.png" style="scale: 1" />
    <p>
      Our bank provides you with the convenience and security to manage your
      banking needs online. From checking your balance to transferring funds,
      everything you need is just a click away. With our intuitive website, you
      can easily monitor your transactions, pay bills, and even apply for loans
      from the comfort of your home. Enjoy real-time notifications and alerts to
      keep you informed about your account activity, ensuring you stay in
      control of your finances. Our platform offers robust security features
      designed to protect your personal information and provide peace of mind.
      Whether you're at home, at work, or traveling, our online banking services
      are your reliable financial companion. Experience seamless banking with
      24/7 access to your accounts, detailed financial insights, and
      personalized support whenever you need it.
    </p>
  </div>

  <div class="home-showcase2">
    <h1>Frequently Asked Question</h1>
    <div class="faq-container">
      <div class="faq-item">
        <h3 class="faq-question">What services does your bank offer?</h3>
        <div class="faq-answer">
          <p>
            Our bank offers a range of services including free fee banking,
            savings accounts, checking accounts, loans, mortgages, and
            investment opportunities.
          </p>
        </div>
      </div>

      <div class="faq-item">
        <h3 class="faq-question">How can I open an account with your bank?</h3>
        <div class="faq-answer">
          <p>
            Opening an account with us is simple. You can either visit one of
            our branches or complete the online application form on our website.
            Follow the prompts, and we'll guide you through the process.
          </p>
        </div>
      </div>

      <div class="faq-item">
        <h3 class="faq-question">
          What are your interest rates for savings accounts?
        </h3>
        <div class="faq-answer">
          <p>
            Our interest rates vary depending on the type of account and
            prevailing market conditions. Rest assured, we offer free fee
            banking with no hidden charges. For the most up-to-date information,
            please visit our website or contact our customer service team.
          </p>
        </div>
      </div>

      <div class="faq-item">
        <h3 class="faq-question">
          Does your bank charge any fees for account maintenance or
          transactions?
        </h3>
        <div class="faq-answer">
          <p>
            No, we believe in transparent and fair banking. That's why we offer
            free fee banking, meaning you won't incur any charges for account
            maintenance or transactions.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">How secure is my money with your bank?</h3>
        <div class="faq-answer">
          <p>
            Security is our top priority. We employ industry-standard encryption
            protocols to protect your personal and financial information.
            Additionally, we are regulated by [mention relevant regulatory body]
            and adhere to strict security measures to safeguard your funds.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">Can I access my account online?</h3>
        <div class="faq-answer">
          <p>
            Yes, we offer online banking services that allow you to manage your
            accounts, transfer funds, pay bills, and more, conveniently from
            your computer.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          What should I do if I suspect fraudulent activity on my account?
        </h3>
        <div class="faq-answer">
          <p>
            If you suspect any unauthorized transactions or fraudulent activity
            on your account, please contact our customer service immediately. We
            will assist you in securing your account and investigating the
            issue.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">Do you offer mobile banking services?</h3>
        <div class="faq-answer">
          <p>
            Currently, our services are primarily web-based. However, we are
            continuously exploring opportunities to enhance our offerings,
            including the possibility of introducing a mobile app in the future.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          Can I set up automatic payments or transfers?
        </h3>
        <div class="faq-answer">
          <p>
            Yes, we offer the option to set up automatic payments or transfers
            for your convenience. You can schedule recurring payments, transfers
            between accounts, and more through our online banking platform.
          </p>
        </div>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          What happens if I forget my online banking password?
        </h3>
        <div class="faq-answer">
          <p>
            If you forget your online banking password, you can easily reset it
            by following the instructions on our website. We'll guide you
            through the steps to regain access to your account securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
