
<div>
    
    <div>
        <h1>Experience Seamless Transactions with Trustly Cards</h1>
        <img src = "/assets/card.png">
        <p>Join thousands of satisfied customers who trust Trustly for their financial needs. With our reliable and secure cards, your transactions are always in safe hands.</p>
        <button class="home-button">Join now</button>
    </div>
    
</div>

