
<div>
    
    <div class="home-showcase">
        <h1>Experience Seamless Transactions with Trustly Cards</h1>
        <img src = "/assets/card.png">
        <p>Join thousands of satisfied customers who trust Trustly for their financial needs. With our reliable and secure cards, your transactions are always in safe hands.</p>
        <a href="/signup"><button class="home-button">Join now</button></a>
    </div>

    <div class="home-showcase">
        <h1>Your Financial Partner You Can Trust</h1>
        <img src = "/assets/sh2.png">
        <p>Your financial security is our top priority. With industry-leading encryption and fraud protection, you can use this debit card with complete confidence. We implement robust security measures and state-of-the-art fraud monitoring to ensure your information and transactions remain protected at all times.</p>
    </div>
    
</div>

