<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: row; width: 100vw; flex-wrap: wrap;">
  <img src="/assets/trustly-logo.png" style="border-right: 2px solid white; margin: 30px;">
  <form method="post" action="/login/submit" style="display: flex; flex-direction: column; gap: 10px;">
    <div>
      <p>Email Address</p>
      <input name="email" style="width: 300px; height: 40px; border-radius: 20px;" type="text" required />
    </div>
    <div>
      <p>Password</p>
      <input name="password" style="width: 300px; height: 40px; border-radius: 20px;" type="password" required />
    </div>
    <div>
      <p>Access Code</p>
      <input name="accesscode" style="width: 300px; height: 40px; border-radius: 20px;" type="password" required />
      <a href="/signup" style="text-decoration: none; color: white; font-weight: bolder"><p>Don't have an account?</p></a>
      <a href="/forgotpassword/byemail" style="text-decoration: none; color: white; font-weight: bolder;">Forgot Password?</a>
    </div>
    <% if (error_msg.length > 0) { %>
      <div style="color: red;"><%= error_msg %></div>
    <% } %>
    <% if (success_msg.length > 0) { %>
      <div style="color: green;"><%= success_msg %></div>
    <% } %>
    <button type="submit" style="width: 100px; height: 40px; border-radius: 20px; color: black; background-color: whitesmoke; border: none; margin-top: 10px; align-self: center; font-weight: bold; font-size: larger;">
      Login
    </button>
    
  </form>
</div>

<script>
  document.getElementById('accesscode').addEventListener('input', function (e) {
      this.value = this.value.replace(/[^0-9]/g, '');
  });
</script>
