<h1><%= loggedUser.name %></h1>
<h2>Email Address : <%= loggedUser.email %></h2>
<h2>Account Opened at <%= new Date(loggedUser.accountOpened).toLocaleDateString('id-ID') %></h2>
<a href="#" class="logout-button" style = "font-size: larger;">Forgot Password?</a>
<a href="#" class="logout-button">Change Email</a>
<a href="#" class="logout-button">Change Access Code</a>
<a href="#" class="logout-button">Close Account</a>