<h1><%= loggedUser.name %></h1>
<h2>Email Address : <%= loggedUser.email %></h2>
<h2>Account Opened at <%= new Date(loggedUser.accountOpened).toLocaleDateString('id-ID') %></h2>
<a href="#" class="showcase-button">Forgot Password?</a>
<a href="#" class="showcase-button">Change Email</a>
<a href="#" class="showcase-button">Change Access Code</a>
<a href="#" class="showcase-button">Close Account</a>