<div>
    <div class="home-showcase">
      <img src="/assets/debit-card-promo-1.jpg" style="height: 512px; width: 512px" />
      <h1>Enjoy 20% Off at Bite & Sip with Your Debit Card!</h1>
      <p>
        Satisfy your cravings with delicious food and drinks at Bite & Sip! 
        For a limited time, pay with your debit card and get 20% off your entire order. 
        Whether you're in the mood for a juicy burger or a refreshing cold drink, 
        we've got you covered. Don't miss out on this tasty deal!
      </p>
    </div>
</div>

<div>
    <div class="home-showcase">
      <img src="/assets/debit-card-promo-2.jpg" style="height: 512px; width: 512px" />
      <h1>Fly High with 10% Off Your Next Plane Ticket!</h1>
      <p>
        Get ready for your next adventure with Sky Travel! 
        For a limited time, enjoy an exclusive 10% discount on all plane tickets when you pay with your debit card. Whether you're planning a weekend getaway or a long vacation, we make it easy to take to the skies. 
        Don't let this amazing offer soar past you—book your tickets today!
      </p>
    </div>
</div>

  