<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
  "
>
  <img
    src="/assets/trustly-logo.png"
    style="border-right: 2px solid white; margin: 30px"
  />
  <form action="api/resetpassword/submit" method="POST">
    <p>Enter old password:</p>
    <input name="oldpassword" style="width: 300px; height: 40px; border-radius: 20px;" type="password" required />
    <p>Enter new password:</p>
    <input name="newpassword" style="width: 300px; height: 40px; border-radius: 20px;" type="password" required />
   <% if (errors && errors.length > 0) { %>
    <div style="color: red">
      <ul>
        <% errors.forEach(function(error) { %>
        <li><%= error %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
    <br>
    <button type = "submit" style="width: 100px; height: 40px; border-radius: 20px; color: black; background-color: whitesmoke; border: none;margin-top: 10px;">
      Submit
    </button>
  </form>
</div>
