@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.navbar {
    width: 70%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 15%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    height: 80px;
}

.navbar-header {
    flex-grow: 1;
    text-align: left;
}

.navbar-header h3 {
    margin: 0;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    margin-right: 20px;
}

.navbar-menu li {
    margin: 0 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.navbar-menu li a:hover {
    background-color: #575757;
    color: #f0f0f0;
}

.navbar img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
    scale: 1.5;
}

.welcome-message {
    white-space: nowrap;
}

.page-wrapper {
    margin: 0 auto;
    padding-top: 100px;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.sub-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.funds-showcase {
    grid-column: 1 / -1;
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.cards-showcase {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.deposit-showcase {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.chart-showcase {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 1px solid #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

#showcase-button {
    background-color: #000;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}

#showcase-button:hover {
    background-color: #333;
}

.logout-button {
    background-color: #000000;
    border: 1px solid white;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 7px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    font-weight: larger;
    margin-left: 30px;
  }
  
  .logout-button:hover {
    box-shadow: 0 0 10px 2px #fefefe;
    transform: scale(1.05);
  }